

  <div class="row justify-content-md-center">
        <div class="col-lg-4 col-md-3"></div>
        <form class="col-lg-4 col-md-6" runat="server">
    
            <div class="card">
              <div class="card-header">
                <strong>Sign in to your dashboard</strong>
              </div>
              <div class="card-body">
            
                  <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Username">      
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-primary">SIGN IN</button>
              </div>
            </div>
      
        </form>
        <div class="col-lg-4 col-md-3"></div>
      </div>
